@model SpaDay.ViewModels.AddUserViewModel;

<h1>Sign Up Form</h1>

@if (ViewBag.error != null)
{
    <p>@ViewBag.error</p>
}

<form method="post" action="/user">

<div class="form-group">
   <label asp-for="UserName">User Name</label>
   <input asp-for="UserName" />
   <span asp-validation-for="UserName"></span>
</div>

<br>
<div class="form-group">
   <label asp-for="Password ">Password</label>
   <input type="password" asp-for="Password" />
   <span asp-validation-for="Password"></span>
</div>

<br>
<div class="form-group">
   <label asp-for="VerifyPassword">Verify Password</label>
   <input type="password" asp-for="VerifyPassword" />
   <span asp-validation-for="VerifyPassword"></span>
</div>

<input type='submit' value='Submit'>
</form>
